.Toolbar {
  height: 6rem;
  width: 100%;
  background-color: #0fc44e;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.NavigationList {
  height: 100%;
}
