.ShowBudget {
  height: 15rem;
  width: 100%;
  background-color: #ececec;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  padding: 2rem;
}

.ShowBudget h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.Budget {
  font-size: 4rem;
  color: #0fc44e;
}

.Red {
  color: #ea3e3e;
}
