.Expense {
  height: 3rem;
  font-size: 1.8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
}

.Second {
  background-color: #eee;
}

.Amount {
  color: #ea3e3e;
  display: flex;

  button {
    margin-left: 1rem;
  }
}
